<div class= "fundo-verde">
  <div class="container">
    <div class="col-md-10 col-md-offset-1">
      <div class="banner-text text-center banner">
        <h1>ALUGUE JOGOS</h1>
        <p></p>
        <%= link_to games_path do %>
        <button class="btn-home btn-color-home">VAMOS JOGAR</button>
        <% end %>
        <!-- <a class="btn btn-primary btn-lg">Start now</a> -->
        <nav role="navigation"> <a href="#services" class="banner-btn"><img src="images/down-arrow.png" alt=""></a></nav>
      </div>
        <!-- banner text -->
    </div>
  </div>
</div>

  <!-- <div class="container varios-banners"> -->
<div class="text-center">
  <h1>VIDEO GAMES</h1>
  <div class="row">
    <div class="col-md-3 console_card">
      <%= image_tag "2-6.jpg" %>
    </div>
    <div class="col-md-3 console_card">
      <%= image_tag "4-5.jpg" %>
    </div>
    <div class="col-md-3 console_card">
      <%= image_tag "7-3.jpg" %>
    </div>
    <div class="col-md-3 console_card">
      <%= image_tag "6-3.jpg" %>
    </div>
  </div>
</div>

<div class= "text-center">
  <h1>Exemplos de jogos</h1>

  <div class="row">
    <div class="col-md-3 console_card">
       <img src="assets/donk.png" onmouseover="this.src='assets/donkeygif.gif' " onmouseout="this.src='assets/donk.png'" />
    </div>

    <div class="col-md-3 console_card">
      <img src="assets/mari.png" onmouseover="this.src='assets/mariogif2.gif' " onmouseout="this.src='assets/mari.png'" />
    </div>

    <div class="col-md-3 console_card">
       <img src="assets/riú.png" onmouseover="this.src='assets/streetgif.gif' " onmouseout="this.src='assets/riú.png'" />
    </div>

    <div class="col-md-3 console_card">
       <img src="assets/sonic.png" onmouseover="this.src='assets/sonic.gif' " onmouseout="this.src='assets/sonic.png'"/>


    </div>
  </div>
</div>
  </div>
</div>
<br><br><br>

