<div class="container games-container">
  <div class="row">
    <div class="col-md-2 col-md-offset-1">
      <h1>All Games</h1>
    </div>
    <div class="col-md-2 col-md-offset-6">
      <%= link_to new_game_path  do %>
        <button class="btn-games btn-new-game">New Game</button>
      <% end %>
    </div>
  </div>
  <div class="row">
    <% @games.each do |game| %>
      <%= link_to game_path(game) do %>
        <div class="card col-md-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
             url('<%= cl_image_path game.photo, height: 250, width: 350, crop: :fill %>')">
          <div class="card-name"><%= game.name %></div>
          <div class="card-description">
            <p><%= game.description %></p>
            <p>R$ <%= "%0.2f" % [game.price] %></p>
            <p><%= game.console.name %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

