<h1><%= @game.name %></h1>
<div class="row">
  <div class="col-md-4 product-img">
    <%= cl_image_tag @game.photo, height: 400, width: 500, crop: :fill %>
  </div>
  <div class="col-md-6">
    <p><%= @game.description %></p>
    <p>R$ <%= "%0.2f" % [@game.price] %></p>
    <p><%= @game.console.name %></p>
  </div>
</div>
